body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #303030;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #868585;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.header {
  background: url(../img/header-bg_dark.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 10px 20px;
  margin-bottom: 150px;
}
.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-top: auto;
}
.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}
.header__title span {
  display: block;
  font-size: 42px;
  line-height: 57px;
}
.header__button {
  margin-top: 50px;
  margin-bottom: auto;
  -ms-flex-item-align: center;
      align-self: center;
}
.button {
  outline: none;
}
.button__text {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  margin-left: -57px;
}
.button__path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.button:hover .button__path {
  fill: rgba(225, 225, 225, 0.5);
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  padding: 0 10px;
}
.social__path {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}
.social__path:hover {
  fill: #ffffff;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.service {
  margin-bottom: 150px;
}
.service__image {
  -webkit-box-shadow: 20px 18px 15px #c8c8c8;
          box-shadow: 20px 18px 15px #c8c8c8;
  max-height: 650px;
  width: 550px;
}
.service__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.service__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__content {
  -ms-flex-preferred-size: 510px;
      flex-basis: 510px;
  margin-right: 90px;
}
.service__box {
  margin-bottom: 50px;
}
.service__box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
.service__box-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.info {
  margin-bottom: 150px;
}
.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__box {
  -ms-flex-preferred-size: 510px;
      flex-basis: 510px;
  margin-right: 90px;
}
.info__content {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}
.info__content-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 17px;
}
.info__content-img {
  width: 100%;
  height: 75%;
  -webkit-box-shadow: 20px 18px 15px #c8c8c8;
          box-shadow: 20px 18px 15px #c8c8c8;
}
.info-tabs {
  margin-bottom: 50px;
}
.info-tabs__content {
  display: none;
}
.info-tabs__content--active {
  display: block;
}
.info-tabs__items {
  margin-bottom: 100px;
}
.info-tabs__item {
  position: relative;
  font-size: 18px;
  font-weight: 25;
  margin-right: 40px;
}
.info-tabs__item::after {
  display: inline-block;
  position: relative;
  content: "";
  position: absolute;
  bottom: -25%;
  left: 0%;
  width: 0;
  height: 1px;
  margin-bottom: 5px;
  background-color: #868585;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.info-tabs__item:hover::after {
  width: 100%;
}
.info-tabs__item--active {
  margin-bottom: 5px;
  border-bottom: 1px solid #868585;
}
.info-slider {
  max-width: 510px;
}
.info-slider__img {
  float: left;
  margin-right: 40px;
  margin-bottom: 22px;
  -webkit-box-shadow: 13px 8px 15px #c8c8c8;
          box-shadow: 13px 8px 15px #c8c8c8;
}
.info-slider__text {
  padding-bottom: 15px;
}
.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__list-item {
  -ms-flex-preferred-size: 235px;
      flex-basis: 235px;
  margin-bottom: 19px;
}
.info__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}
.slick-arrow {
  position: absolute;
  left: 275px;
  bottom: 25px;
  z-index: 5;
  cursor: pointer;
}
.slick-arrow path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.slick-arrow:hover path {
  fill: #c8c8c8;
}
.slick-right {
  left: 340px;
}
.blockquote {
  padding: 128px 10px 144px;
  background: url(../img/blockquote-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 150px;
}
.blockquote__text {
  max-width: 670px;
  margin: 0 auto;
  font-size: 42px;
  line-height: 57px;
  color: #ffffff;
}
.clients {
  margin-bottom: 150px;
}
.clients-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients-slider__box-img {
  -ms-flex-preferred-size: 510px;
      flex-basis: 510px;
  margin-right: 90px;
  margin-bottom: 60px;
  -webkit-box-shadow: 13px 8px 15px #c8c8c8;
          box-shadow: 13px 8px 15px #c8c8c8;
}
.clients-slider__box-title {
  max-width: 478px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.clients-slider__box-list {
  margin-left: 50px;
  margin-bottom: 50px;
}
.clients-slider__box-item {
  margin-bottom: 15px;
}
.step {
  margin-top: 50px;
  margin-bottom: 150px;
}
.step__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step__img {
  display: inline-block;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  position: absolute;
  right: 5%;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.step__content {
  margin-right: 90px;
}
.step__content-title {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}
.step__list {
  list-style: none;
  counter-reset: number;
  width: 600px;
}
.step__list-item {
  counter-increment: number;
  margin-bottom: 30px;
}
.step__list-item::before {
  content: '0' counter(number);
  margin-bottom: 11px;
  color: #868585;
}
.step__list-item::nth-child(n + 10)::before {
  content: counter(number);
}
.footer {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0 50px;
  color: #ffffff;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}
.footer__bottom-link {
  margin: auto 0;
}
.footer__form {
  margin-right: 90px;
  -ms-flex-preferred-size: 510px;
      flex-basis: 510px;
}
.footer__form-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #ffffff;
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.footer__input {
  border: none;
  border-bottom: 1px solid #ffffff;
  display: block;
  width: 100%;
  background-color: transparent;
  padding-bottom: 11px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  outline: none;
  color: #ffffff;
  margin-bottom: 60px;
}
.footer__input::-webkit-input-placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}
.footer__input:-ms-input-placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}
.footer__input::-ms-input-placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}
.footer__input::placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}
.footer__contacts-item {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.footer__contacts-item:hover {
  color: #cccccc;
}
.footer .social {
  margin-right: -10px;
}
.clients .slick-arrow {
  left: 18%;
}
.clients .slick-right {
  left: 25%;
}
.clients .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 87%;
  left: 20%;
}
.clients .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.clients .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 12px;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 50%;
  border: none;
  outline: none;
}
.clients .slick-active button {
  width: 10px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  outline: none;
}
@media (min-width: 2000px) {
  .step__img {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    right: 25%;
  }
}
@media (max-width: 1200px) {
  .info__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info-tabs__items {
    margin-bottom: 40px;
  }
  .info__box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    margin-top: -70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 60px 40px 0 40px;
  }
  .step__img {
    right: -4%;
  }
}
@media (max-width: 1112px) {
  .container {
    padding-left: 4%;
    padding-right: 4%;
    max-width: 100%;
  }
  .header,
  .service,
  .info,
  .blockquote,
  .clients,
  .step,
  .footer__top {
    margin-bottom: 75px;
  }
  .step__img {
    width: 450px;
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
    right: 5%;
  }
  .clients .slick-dots {
    left: 22%;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 4%;
    padding-right: 4%;
    max-width: 100%;
  }
  .header,
  .service,
  .info,
  .blockquote,
  .clients,
  .step,
  .footer__top {
    margin-bottom: 50px;
  }
  .title {
    margin-bottom: 30px;
  }
  .service__content {
    margin: 0 auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-right: 10px;
  }
  .service__image {
    width: 50%;
    margin-left: 10px;
  }
  .service__img {
    width: 100%;
  }
  .service__box {
    margin-bottom: 46px;
  }
  .service__box-title {
    margin-bottom: 15px;
  }
  .step__img {
    width: 400px;
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
    right: 1%;
  }
  .clients .slick-dots {
    left: 23%;
  }
}
@media (max-width: 960px) {
  .clients-slider__box {
    display: block;
  }
  .clients-slider__box-title {
    max-width: 100%;
    text-align: center;
  }
  .clients-slider__box-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .header__title {
    font-size: 48px;
    line-height: 56px;
  }
  .header__title span {
    font-size: 32px;
    line-height: 40px;
  }
  .service__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
  .service__content__box {
    margin-bottom: 25px;
  }
  .service__content__box-title {
    margin-bottom: 10px;
  }
  .service__image {
    width: 100%;
  }
  .info__box {
    display: block;
  }
  .info__list {
    margin: 60px 100px 0 100px;
  }
  .info-tabs__items {
    margin-top: 60px;
    text-align: center;
  }
  .info-tabs__contentbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blockquote {
    padding: 60px 10px 80px;
  }
  .blockquote__text {
    font-size: 35px;
    line-height: 42px;
  }
  .clients-slider__box-content a {
    margin-left: 200px;
  }
  .step__inner {
    display: block;
  }
  .step__img {
    position: relative;
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
    width: 70%;
    margin-left: 15%;
  }
  .clients .slick-dots {
    top: 45%;
    left: 45%;
  }
}
@media (max-width: 768px) {
  .header {
    height: 100%;
  }
  .header__title {
    font-size: 48px;
    line-height: 56px;
  }
  .header__title span {
    font-size: 32px;
    line-height: 40px;
  }
  .blockquote {
    padding: 60px 10px 80px;
  }
  .blockquote__text {
    font-size: 28px;
    line-height: 32px;
  }
  .clients .slick-dots {
    top: 45%;
  }
}
@media (max-width: 667px) {
  .clients .slick-dots {
    top: 43%;
  }
}
@media (max-width: 568px) {
  .step__list {
    width: 100%;
  }
  .clients .slick-dots {
    top: 42%;
  }
}
@media (max-width: 540px) {
  .title {
    text-align: center;
  }
  .header__title {
    font-size: 32px;
    line-height: 38px;
  }
  .header__title span {
    font-size: 22px;
    line-height: 28px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .service__box-title {
    text-align: center;
  }
  .service__box-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .service__image {
    margin-left: 0;
  }
  .info__box {
    width: 100%;
    padding: 0 5px;
  }
  .info-slider {
    max-width: 400px;
  }
  .info-slider__img {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    float: none;
  }
  .info-slider__text {
    padding: 1px 10px 15px 10px;
  }
  .info__content-img {
    display: none;
  }
  .info__content-text {
    margin-bottom: 40px;
  }
  .info-tabs {
    margin-bottom: 0;
  }
  .info-tabs__items {
    text-align: start;
    padding-left: 8px;
  }
  .info-tabs__item {
    margin-right: 15px;
  }
  .info__list {
    display: block;
    text-align: center;
    margin: 60px auto 25px auto;
  }
  .slick-arrow {
    bottom: -10px;
  }
  .slick-right {
    left: calc(55%);
  }
  .slick-left {
    left: calc(35%);
  }
  .blockquote {
    padding: 50px 15px 70px;
  }
  .blockquote__text {
    font-size: 24px;
    line-height: 28px;
  }
  .clients-slider__box-content a {
    margin-left: 30px;
  }
  .clients-slider__box-list {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .step__content {
    margin-right: 0;
    width: 100%;
  }
  .step__list {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .step__img {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .footer {
    padding: 5px 5px 50px 5px;
  }
  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__bottom .logo {
    width: 100%;
    margin: 20px 0;
  }
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__title {
    margin: 50px auto;
  }
  .footer__form {
    margin-right: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
@media (max-width: 414px) {
  .clients .slick-dots {
    top: 44%;
    left: 41%;
  }
}
@media (max-width: 375px) {
  .info-slider {
    max-width: 350px;
  }
  .info-slider__img {
    width: 85%;
    max-width: 335px;
  }
  .info-slider_item {
    width: 80%;
  }
  .info-slider__text {
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .info__content {
    text-align: center;
  }
  .info-tabs__items {
    width: 100%;
    text-align: center;
  }
  .info-tabs__item {
    display: block;
    margin: 5px auto;
    font-size: 18px;
    width: 115px;
    text-align: center;
  }
  .info-tabs__item::after {
    display: none;
  }
  .blockquote {
    padding: 50px 15px 60px;
  }
  .blockquote__text {
    font-size: 22px;
    line-height: 27px;
  }
  .clients-slider__box-content a {
    margin-left: 10px;
  }
}
@media (max-width: 320px) {
  .header__title {
    font-size: 27px;
    line-height: 37px;
  }
  .header__title span {
    font-size: 19px;
    line-height: 37px;
  }
  .header__subtitle {
    font-size: 14px;
  }
  .button__text {
    font-size: 15px;
  }
  .info-slider {
    max-width: 310px;
  }
  .info-slider__img {
    width: 70%;
  }
  .info-slider__text {
    width: 80%;
  }
  .info__list {
    margin: 50px auto 15px auto;
  }
  .slick-arrow {
    bottom: 10px;
  }
  .slick-right {
    left: calc(53%);
  }
  .slick-left {
    left: calc(35%);
  }
  .blockquote {
    padding: 50px 15px 60px;
  }
  .blockquote__text {
    font-size: 18px;
    line-height: 25px;
  }
  .clients .slick-dots {
    top: 41%;
    left: 40%;
  }
}
